// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login{
    position: relative;
    left: 10px;
}
.sign-up{
    position: relative;
    left: 30px;
}

.vl {
    border: 2px solid rgb(238, 106, 18);
  }
.sign-out{
    position: relative;
    left: 50px;
}

.nametag{
  position: relative;
  left: 320px;
  padding-right: 20px;
}
.container{
  float: right;
}




  // this is the title body of the show page

