// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ques{
    position: relative;
    left: 700px;
    bottom: 50px;
}
