// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ques{
    position: relative;
    left: 680px;
    bottom: 80px;
}

.vp {
    border-left: 2px solid rgb(209, 224, 209);
    height: 100%;
    position: absolute;
    left: 26%;
    margin-left: -3px;
    top: 0;
  }
.top{
    width: 100%;
    padding-left: 20px;
}
table, tr {
    height: 100px;
    width: 900px;
    text-align: center;
    border: 1px solid rgb(207, 201, 201);
}
.log-form{
    margin: auto;
}
.title{
    width: 100%;
    padding-left: 20px;
}
