// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ques{
    position: relative;
    left: 680px;
    bottom: 80px;
}

.vp {
    border-left: 2px solid rgb(209, 224, 209);
    height: 100%;
    position: absolute;
    left: 26%;
    margin-left: -3px;
    top: 0;
  }
.top{
    width: 100%;
    padding-left: 20px;
}
// this is for the question in index file
.tables, .tr1 {

    height: 100px;
    width: 900px;
    text-align: left;
    border: 1px solid rgb(207, 201, 201);
    border-left: none;
    border-right: none;
}
.log-form{
    margin: auto;
}
.title{
    width: 100%;
    padding-left: 20px;
}

// this is for the answer in index file
.tr-ans{
    height: auto;

    text-align: left;
    border: 1px solid rgb(207, 201, 201);
    border-left: none;
    border-right: none;
    border-top: none;
    
    
}
.ans-body{
    padding-bottom: 20px;
}
.tr-ans1{
    height: 50px;
} 
.test1{
    align-content: center;
}